<style>
    body, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    .banner {
        background-color: #656565;
        color: white;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .banner h1 {
        font-size: 2em;
        margin: 0;
    }

    .banner p {
        font-size: 0.9em;
        margin: 0;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .container {
        max-width: 75%;
        align-items: center;
    }


    .container-fluid {
        width: 75%;
        max-width: 75%;
        margin: auto;
        align-items: center;
    }

    .form-control {
        width: 75%;
        box-sizing: border-box;
        align-items: center;
    }

    .table td, .table th {
        white-space: nowrap;
    }

    .btn {
        margin: 5px;
    }

    @media screen and (max-width: 900px) {
        .container-fluid {
            padding: 0;
            margin: 0 auto;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
            flex-direction: column;
        }
        #meal-plan-form {
            max-width: 100%;
            box-sizing: border-box;
            align-items: center;
        }
        .table thead {
            display: none;
        }
        .table tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid #ddd;
        }
        .table td {
            display: block;
            text-align: center;
            font-size: 12px;
            border-bottom: 1px dotted #ccc;
        }
        .table td:last-child {
            border-bottom: 0;
        }
        .table td:before {
            content: attr(data-label);
            float: center;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
        }
        .table td:nth-child(odd):before,
        .table td:nth-child(even):before {
            width: 100%;
        }
        body {
            font-size: 12px;
            align-items: center;
        }
        .form-control {
            font-size: 12px;
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto;
        }
        .table-responsive {
            width: 100%;
            box-sizing: border-box;
            overflow-x: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            -webkit-overflow-scrolling: touch;
            align-items: center;
            margin: 0 auto;
        }
    }
</style>